// Основные цвета для кнопок
$primary-color: #598D66;
$primary-bg: #FFFFFF;
$primary-hover-bg: #F4F6F5;
$primary-focus-bg: #D4E8D9;
$primary-active-bg: #376B44;

// Текстовые кнопки
$text-color: #2C2D35;
$text-bg: #FFFFFF;
$text-hover-bg: #598D66;
$text-focus-bg: #D4E8D9;
$text-active-bg: #FFFFFF;

// Табы
$tab-bg: #D4E8D9;
$tab-hover-bg: #598D66;
$tab-focus-bg: #D4E8D9;
$tab-focus-border: 2px solid #598D66;
$tab-active-bg: #376B44;

// Промо-кнопки
$promo-bg: #EEDB6D;
$promo-hover-bg: #FAEB97;
$promo-focus-bg: #FAEB97;
$promo-focus-border: 2px solid #A38314;
$promo-active-bg: #D9B949;


